body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

nav {
  width: 100vw;
  position: sticky;
}

#display {
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}